
.yas-png{
  width: 200px;
}


.Home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #333;
  font-family: 'Times New Roman', Times, serif;

}

.home-container {
  max-width: 60%;
  padding: 40px;
}

.Home-second_container {
  background-color: #ffffff6a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 2rem;
  color: #4a4a4a;
}

p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
}