.Resume {
  position: relative;
  top: 7rem;
  max-width: 800px;
  max-height: 800px !important;
  margin: 10px auto;
  border: 1px solid #ccc;
  background-color: #ffffff6a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.Resume h1, .Resume h2 {
  color: #333;
}

.resume-content p {
  text-align: justify;
  font-size: .8rem;
}

ul {
  list-style-type: square;
  padding-left: 30px;
}

li {
  margin-bottom: 12px;
  font-size: .8rem;
  line-height: 1;
}


@media screen and (orientation: landscape) and (max-width: 900px) {
  .Resume {
    display: flex;
    position: relative;
    top: 4.5rem;
    max-width: 100%;
    height: auto; 
    max-height: 90% !important; 
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto !important;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 1rem;
  }
  .Resume h1, .Resume h2 {
    color: #333;
  }
  
  .resume-content p {
    text-align: justify;
    font-size: .6rem;
  }
  
  ul {
    list-style-type: square;
    padding-left: 10px;
  }
  
  li {
    margin-bottom: 12px;
    font-size: .5rem;
    line-height: 1;
  }
}