.App {
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.App.rtl {
  direction: rtl;
  text-align: right;
}

.App-header.rtl {
  flex-direction: column-reverse;
  text-decoration: rtl;
}

.App.ltr {
  font-family: 'English Font Name', sans-serif;
  text-decoration: ltr;
}

.App.rtl {
  font-family: vazir, sans-serif;
}

.content {
  position: relative;
}


@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.bg-half {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
}

.bg-left {
  left: 0;
  background: url('./img/2b.png') no-repeat center center fixed;
  background-size: cover;
  animation: slideInLeft 2s forwards;
  opacity: 0.1;
}

.bg-right {
  right: 0;
  background: url('./img/1b.png') no-repeat center center fixed;
  background-size: cover;
  animation: slideInRight 2s forwards;
  opacity: 0.1;

}

@media (max-width: 768px) {
  .bg-half {
    width: 100%;
  }

  .bg-left {
    right: 0;
    animation: slideInLeft 2s forwards;
  }

  .bg-right {
    left: 0;
    animation: slideInRight 2s forwards;
  }
}

